* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Roboto:wght@300&family=Satisfy&display=swap');

/* Header */

header {
    display: flex;
    align-items: center;   
}

.container-head1 {
    width: 100%;
    display: flex;
    gap: 70px;
    padding: 2rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.container-head2 {
    display: flex;
    gap: 10px;
}

.menu-trigger {
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.menu-trigger:hover {
    color: black;
}

.menu-open {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 600;
    font-size: 15px;
}

#menu-open {
    background-color: whitesmoke;
    display: none;
    position: absolute;
    padding: 20px;
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#menu-open.active {
   display: block;
}

.menu-open li {
    margin-bottom: 10px;
}

.menu-open a:hover {
    color: black;
}

#menu-open2 {
    background-color: whitesmoke;
    display: none;
    position: absolute;
    padding: 18px;
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 12px;
}

#menu-open2.active2 {
    display: block;
}

.button {
    width: 130px;
    height: 50px;
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.button:hover {
    color: black;
}



#register {
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    color: gray;
}

.menu-features {
    position: relative;
}

.menu-company {
    position: relative;
}

/* Setas Up e Down */

#img-up2.remove {
    display: none;
}

#img-down2 {
    display: none;
}

#img-down2.remove {
   display: inline;
}

#img-up.remove {
    display: none;
}

#img-down {
    display: none;
}

#img-down.remove {
   display: inline;
}


/* Conteúdo Principal */

main {
    display: flex;
}

.section-principal {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.section-principal h1 { 
    font-size: 120px;
    display: block;
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Encode Sans', sans-serif;
}

.section-principal p {
    font-size: 30px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.button2 {
    width: 200px;
    height: 60px;
    color: white;
    background-color: black;
    font-size: 22px;
    border-radius: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.button2:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.4s;
}

.img-main {
    height: 85vh;
    width: 60vh;
    
}

.pic {
    margin: auto;
}

.barra-logos {
    margin-top: 60px;
}

/* Media Querys */

@media (max-width: 1440px) {
    .img-main {
        width: 50vh;
    }
}

@media (max-width: 1200px) {

    .section-principal h1 {
        font-size: 75px;
    }

    .section-principal p {
        font-size: 25px;
    }

    .img-main {
        width: 40vh;
        height: 80vh;
    }

    .button2 {
        margin-top: 100px;
    }
}





