*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
}

.container-head1{
    width: 100%;
    display: flex;
    gap: 70px;
    padding: 2rem;
    font-size: 20px;
}

.container-head2{
    display: flex;
    gap: 10px;
}

.menu-open{
    list-style: none;
    display: flex;
    gap: 70px;
}

.menu-trigger{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.button{
    width: 130px;
    height: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

#reister{
    border: black 1px 1px;
}

.button2 {
    width: 200px;
    height: 60px;
    color: white;
    background-color: black;
    font-size: 22px;
    border-radius: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.menu-features{
    position: relative;
}

.menu-company{
    position: relative;
}

#menu-open{
    display: none;
    position: absolute;
}

#menu-open2{
    display: none;
    position: absolute;
}

#menu-open.active{
   display: block;
}

#menu-open2.active2{
    display: block;
}

main {
    display: flex;
}

.section-principal{
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.section-principal h1 { 
    font-size: 120px;
    display: block;
    margin-top: 50px;
    margin-bottom: 70px;

}

.section-principal p {
    font-size: 30px;
}

.img-main{
    height: 80vh;
    display: block;
    margin: auto;
}

.barra-logos{
    margin-top: 60px;
}