
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}
   

.headerImg-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
}

.headerImg-wrapper img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 5%;
}

.header-content h1{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 48px;
}

.header-content p{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
    width: 50%;
}

.header-content button{
    left: 10%;
    width: 180px;
    height: 60px;
    justify-self: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.589);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
}

.header-content button:hover {
    background-color: grey

}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.sec1 h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 2.2rem;
}
.sec1-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec1-content p {
    width: 30%;
    height: 30%;
}

.sec3 {
    background-color: rgb(49, 49, 49);
    display: flex;
}   

.sec3-cards{
    width: 100%;
    display: flex;
    column-gap: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;   
}

.sec3-card{
    background-color: white;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;  
 }   

.card-titulo {
    padding: 1rem;
}

.card-text {
    padding: 1.5em;
    padding-bottom: 5em;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.sec4-div {
    grid-column-start: 2;
    text-align: center;
}

.sec4-titulo{
    padding-top: 2em;
    padding-bottom: 2em;
}

.sec4-text{
    padding-bottom: 3em;
}

.rodape-sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.rodape1-div1 {
    background-color:dodgerblue;  
    color: white; 
}

.rodape1-div2{
    background-color: rgb(49, 49, 49);
    color: white;
}

.rodape1-div-titulo {
    padding-top: 2em;
    padding-bottom: 2em;
}

.rodape1-div-text{
    padding: 1em;
}

.contato {
    padding-top: 2em;
    padding-bottom: 2em;
}

.rodape-sec2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1.5em;
}








